{% extends "base.html" %}
{% block title %}
{{ _("Application Dashboard") }} 
{% endblock %}
{% block main %}

<div class="mx-auto w-full text-center p-8">
    <img alt="YunoHost package logo" src="{{ url_for('static', filename='yunohost-package.png') }}" class="w-24 mx-auto">
    <h1 class="text-2xl font-bold">
        {{ _("App packaging dashboard") }} 
    </h1>
</div>

<div class="mx-auto text-center py-4">
    <div class="inline-block">
        {{ _("Filter") }} 
        <select
          name="selectfilter"
          id="selectfilter"
          class="rounded-md border-gray-200 text-sm ml-1 pl-1 pr-7 h-8 py-0"
        >
        <option value="none">(None)</option>
        <option value="regressions_main_ci">{{ _("Regressions on main CI") }}</option>
        <option value="broken_low_quality">{{ _("Broken / low quality apps") }}</option>
        <option value="outdated">{{ _("Outdated tests on main CI") }}</option>
        <option value="regressions_bookworm">{{ _("Major regressions on Bookworm CI") }}</option>
        <option value="testings">{{ _("Apps with testings PRs") }}</option>
        <option value="autoupdate">{{ _("Apps with autoupdate PRs") }}</option>
        </select>
    </div>
    <div class="inline-block">
        {{ _("Sort by") }} 
        <select
          name="selectsort"
          id="selectsort"
          class="rounded-md border-gray-200 text-sm ml-1 pl-1 pr-7 h-8 py-0"
        >
        <option value="alpha">{{ _("Alphabetical") }}</option>
        <option value="level">{{ _("Quality level") }}</option>
        <option value="stars">{{ _("Popularity stars") }}</option>
        <option value="main_branch_update">{{ _("Last update on main/master branch") }}</option>
        <option value="testing_branch_update">{{ _("Last update on testing branch") }}</option>
        </select>
    </div>

</div>


<script type="text/javascript">

    function updateFilter() {
        // Locate the card elements
        let entries = document.getElementsByClassName('app')
        let filterName = selectFilter.value.trim();
        // Loop through the entries
        for (var i = 0; i < entries.length; i++) {

            if (filterName == "none")
            {
                entries[i].classList.remove("hidden");
            }
            else if (filterName == "regressions_main_ci")
            {
                if (entries[i].dataset.publicLevel > entries[i].dataset.mainCiLevel)
                {
                    entries[i].classList.remove("hidden");
                }
                else
                {
                    entries[i].classList.add("hidden");
                }
            }
            else if (filterName == "broken_low_quality")
            {
                if (entries[i].dataset.publicLevel <= 4)
                {
                    entries[i].classList.remove("hidden");
                }
                else
                {
                    entries[i].classList.add("hidden");
                }
            }
            else if (filterName == "outdated")
            {
                if (entries[i].dataset.mainCiDaysago >= 30)
                {
                    entries[i].classList.remove("hidden");
                }
                else
                {
                    entries[i].classList.add("hidden");
                }
            }
            else if (filterName == "regressions_bookworm")
            {
                if ((entries[i].dataset.publicLevel >= 6) && (entries[i].dataset.nextdebianCiLevel < 6))
                {
                    entries[i].classList.remove("hidden");
                }
                else
                {
                    entries[i].classList.add("hidden");
                }
            }
            else if (filterName == "testings")
            {
                if (entries[i].dataset.lastUpdateTestingDaysago)
                {
                    entries[i].classList.remove("hidden");
                }
                else
                {
                    entries[i].classList.add("hidden");
                }
            }
            else if (filterName == "autoupdate")
            {
                if (entries[i].dataset.lastUpdateAutoupdateDaysago)
                {
                    entries[i].classList.remove("hidden");
                }
                else
                {
                    entries[i].classList.add("hidden");
                }
            }
        }
    }

    function updateSort() {
        
        let table = document.getElementById('appTable')
        let toSort = document.getElementsByClassName('app')
        let sortBy = selectSort.value.trim();

        toSort = Array.prototype.slice.call(toSort, 0);

        if (sortBy === "level") {
            toSort.sort(function(a, b) {
                return a.dataset.publicLevel - b.dataset.publicLevel;
            });
        }
        else if (sortBy === "stars") {
            toSort.sort(function(a, b) {
                return parseInt(a.dataset.popularityStars) < parseInt(b.dataset.popularityStars) ? 1 : -1;
            });
        }
        else if (sortBy === "main_branch_update") {
            toSort.sort(function(a, b) {
                return parseInt(a.dataset.lastUpdateMasterDaysago) < parseInt(b.dataset.lastUpdateMasterDaysago) ? 1 : -1;
            });
        }
        else if (sortBy === "testing_branch_update") {
            toSort.sort(function(a, b) {
                return parseInt(a.dataset.lastUpdateTestingDaysago) < parseInt(b.dataset.lastUpdateTestingDaysago) ? 1 : -1;
            });
        }
        else if (sortBy === "alpha") {
            toSort.sort(function(a, b) {
                return a.dataset.app > b.dataset.app ? 1 : -1;
            });
        }
        for(var i = 0, l = toSort.length; i < l; i++) {
            toSort[i].remove()
            table.appendChild(toSort[i]);
        }
    }

    let selectFilter = document.getElementById('selectfilter');
    let selectSort = document.getElementById('selectsort');

    selectFilter.addEventListener('change', () => {
      updateFilter();
    });

    selectSort.addEventListener('change', () => {
      updateSort();
    });


</script>

<table id="appTable">
    <tr class="h-20">
        <th class="w-32">{{ _("App") }}</th>
        <th class="-rotate-45 w-16 text-left">{{ _("Catalog") }}</th>
        <th class="-rotate-45 w-16 text-left">{{ _("Main CI") }}</th>
        <th class="-rotate-45 w-16 text-left">{{ _("Bookworm CI") }}</th>
        <th class="-rotate-45 w-16 text-left">{{ _("Testing PR") }}</th>
        <th class="-rotate-45 w-16 text-left">{{ _("Autoupdate PR") }}</th>
        <th></th>
    </tr>
    {% for app, infos in data.items() %}
    <tr 
        class="app h-8 hover:bg-gray-100"
        data-app="{{ app }}"
        data-public-level="{{ infos["public_level"] if infos["public_level"] != "?" else -1 }}"
        data-popularity-stars="{{ infos["popularity_stars"] }}"
        data-main-ci-level="{{ infos["ci_results"]["main"]["level"] }}"
        data-main-ci-daysago="{{ infos["ci_results"]["main"]["timestamp"] | days_ago }}"
        data-nextdebian-ci-level="{{ infos["ci_results"]["nextdebian"]["level"] }}"
        data-last-update-master-daysago="{{ infos["ci_results"]["main"]["timestamp"] | days_ago }}"
        data-last-update-testing-daysago="{% if infos["testing"] %}{{ infos["testing"]["timestamp_updated"] | days_ago }}{% endif %}"
        data-last-update-autoupdate-daysago="{% if infos["ci-auto-update"] %}{{ infos["ci-auto-update"]["timestamp_updated"] | days_ago }}{% endif %}"
     >
        <td class="text-center text-blue-600 font-bold"><a href="{{ infos["url"] }}">{{ app }}</a></td>
        <td class="font-bold">
            <a href="https://apps.yunohost.org/app/{{ app }}">
                {{ infos["public_level"] }}
                {% if infos["public_level"] == "?" %}
                {% elif infos["public_level"] == 0 %}
                    <i class="fa fa-exclamation-circle text-red-500" title="Broken"></i>
                {% elif infos["public_level"] <= 4 %}
                    <i class="fa fa-exclamation-triangle text-amber-500" title="Low quality"></i>
                {% endif %}
            </a>
        </td>
        <td>
            <a class="{% if infos["ci_results"]["main"]["timestamp"] | days_ago > 30 %}opacity-50{% endif %}" href="https://ci-apps.yunohost.org/ci/apps/{{ app }}/">
                {{ infos["ci_results"]["main"]["level"] }}
                {% if infos["ci_results"]["main"]["timestamp"] | days_ago > 30 %}
                    <i class="fa fa-hourglass-o" title="Outdated test ({{ infos["ci_results"]["main"]["timestamp"] | days_ago }} days ago)"></i>
                {% endif %}
                {% if infos["public_level"] == "?" %}
                {% elif infos["ci_results"]["main"]["level"] < infos["public_level"] and infos["ci_results"]["main"]["level"] == 0 %}
                    <i class="fa fa-exclamation-circle text-red-500" title="Broken"></i>
                {% elif infos["ci_results"]["main"]["level"] < infos["public_level"] and infos["ci_results"]["main"]["level"] <= 4 %}
                    <i class="fa fa-exclamation-triangle text-amber-500" title="Low quality"></i>
                {% endif %}
            </a>
        </td>
        <td>
            <a class="{% if infos["ci_results"]["nextdebian"]["timestamp"] | days_ago > 30 %}opacity-50{% endif %}" href="https://ci-apps-bookworm.yunohost.org/ci/apps/{{ app }}/">
                {{ infos["ci_results"]["nextdebian"]["level"] }}
                {% if infos["ci_results"]["nextdebian"]["timestamp"] | days_ago > 30 %}
                <i class="fa fa-hourglass-o" title="Outdated test ({{ infos["ci_results"]["nextdebian"]["timestamp"] | days_ago }} days ago)"></i>
                {% endif %}
                {% if infos["public_level"] == "?" %}
                {% elif infos["ci_results"]["nextdebian"]["level"] < infos["public_level"] and infos["ci_results"]["nextdebian"]["level"] == 0 %}
                    <i class="fa fa-exclamation-circle text-red-500" title="Broken"></i>
                {% elif infos["ci_results"]["nextdebian"]["level"] < infos["public_level"] and infos["ci_results"]["nextdebian"]["level"] <= 4 %}
                    <i class="fa fa-exclamation-triangle text-amber-500" title="Low quality"></i>
                {% endif %}
            </a>
        </td>
        <td>
            {% if "testing" in infos %}
                <a href="{{ infos["testing"]["url"] }}">
                    <i class="fa fa-flask"></i>
                    {% for s in infos["testing"]["statuses"] %}
                        {% if s["context"] == "ci-apps-dev" %}
                            <i class="fa fa-{% if s["state"] == "success" %}check-circle text-green-600{% else %}times-circle text-red-600{% endif %}"></i>
                        {% endif %}
                    {% endfor %}
                    {% if infos["testing"]["timestamp_updated"] | days_ago > 30 %}
                        <i class="text-gray-500 fa fa-clock-o" title="Inactive ({{ infos["testing"]["timestamp_updated"] | days_ago }} days ago)"></i>
                    {% endif %}
                </a>
            {% endif %}
        </td>
        <td>
            {% if "ci-auto-update" in infos %}
                <a href="{{ infos["ci-auto-update"]["url"] }}">
                    <i class="fa fa-arrow-up"></i>
                    {% for s in infos["ci-auto-update"]["statuses"] %}
                        {% if s["context"] == "ci-apps-dev" %}
                            <i class="fa fa-{% if s["state"] == "success" %}check-circle text-green-600{% else %}times-circle text-red-600{% endif %}"></i>
                        {% endif %}
                    {% endfor %}
                    {% if infos["ci-auto-update"]["timestamp_updated"] | days_ago > 30 %}
                        <i class="text-gray-500 fa fa-clock-o" title="Inactive ({{ infos["ci-auto-update"]["timestamp_updated"] | days_ago }} days ago)"></i>
                    {% endif %}
                </a>
            {% endif %}
        </td>
        <td class="text-sm">
            {% if infos["popularity_stars"] > 0 %}
                <span class="text-xs border-purple-400 text-purple-600 px-1 py-0 border rounded">{{ infos["popularity_stars"] }} <i class="fa fa-star-o" title="Popularity stars"></i></span>
            {% endif %}
            {% if infos["packaging_format"] == 1 %}
                <span class="text-xs border-gray-400 px-1 py-0 border rounded"><i class="fa fa-meh-o"></i> Packaging v1</span>
            {% endif %}
            {% if "deprecated-software" in infos["antifeatures"] or "replaced-by-another-app" in infos["antifeatures"] %}
                <span class="text-xs border-gray-400 px-1 py-0 border rounded"><i class="fa fa-flag-o"></i> Deprecated</span>
            {% endif %}
            {% if "package-not-maintained" in infos["antifeatures"] %}
                <span class="text-xs border-gray-400 px-1 py-0 border rounded"><i class="fa fa-flag-o"></i> Not maintained</span>
            {% endif %}
            <!--
                Maintainers
                NB issues, PRs
                Autoupdate enabled?
            -->
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
